<!doctype html>
<html lang="id">
  <head>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600;700&display=swap");
      body {
        font-family: "Outfit", sans-serif;
      }
    </style>
  </head>
  <body
    class="bg-[#0a0a0a] text-white flex items-center justify-center min-h-screen p-6"
  >
    <div
      class="w-full max-w-2xl bg-[#111] border border-zinc-800 p-12 rounded-[2rem] shadow-2xl"
    >
      <h2
        class="text-5xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-yellow-500 to-yellow-700 mb-4"
      >
        Art Exhibition 2026
      </h2>
      <p class="text-zinc-400 mb-10 text-lg">
        Tiket Digital Art Exhibition 2026 dengan Proteksi Enkripsi Fernet
      </p>
      <form action="/pesan" method="POST" class="space-y-6">
        <input
          type="text"
          name="nama"
          placeholder="Nama Lengkap"
          required
          class="w-full p-5 bg-[#1a1a1a] border border-zinc-800 rounded-2xl outline-none focus:ring-2 focus:ring-yellow-600"
        />
        <input
          type="email"
          name="email"
          placeholder="Email"
          required
          class="w-full p-5 bg-[#1a1a1a] border border-zinc-800 rounded-2xl outline-none focus:ring-2 focus:ring-yellow-600"
        />
        <select
          name="jenis_tiket"
          class="w-full p-5 bg-[#1a1a1a] border border-zinc-800 rounded-2xl outline-none"
        >
          <option value="Regular">Regular - Rp 3.000.000</option>
          <option value="VIP">VIP - Rp 4.000.000</option>
        </select>
        <input
          type="number"
          name="jumlah"
          min="1"
          placeholder="Jumlah Tiket"
          required
          class="w-full p-5 bg-[#1a1a1a] border border-zinc-800 rounded-2xl outline-none"
        />
        <button
          class="w-full py-6 bg-gradient-to-r from-yellow-600 to-yellow-700 rounded-2xl font-bold text-xl text-black hover:scale-[1.01] transition-transform"
        >
          Pesan Tiket Sekarang
        </button>
      </form>
    </div>
  </body>
</html>
